body {
    background-color: black;
}

#title {
    color: yellowgreen;
    font-size: 100px;
    margin-left: 34%;
}

.main-div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin: 100px;
}

.box {
    background-color: whitesmoke;
    text-align: center;
    font-size: 20px;
    width: 100px;
}

#number {
    margin-left: 46%;
    margin-top: 25px;
    padding: 20px;
    border-radius: 50%
}